name: Continuous integration
on: [push]
jobs: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
          
      - name: Install dependencies
        run: npm ci
          
      - name: Code style
        run: npm run lint